# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
# Import cities file as DataFrame
city_weather = pd.read_csv("../WeatherPy/output_data/cities.csv")
city_weather.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Vaini,-21.2000,-175.2000,29.00,79,75,5.14,TO,1616724983
1,Lüderitz,-26.6481,15.1594,16.09,97,32,2.89,NaN,1616724983
2,Rikitea,-23.1203,-134.9692,26.66,72,100,8.52,PF,1616724984
3,Ushuaia,-54.8000,-68.3000,6.00,75,40,9.26,AR,1616724930
4,Chapais,49.7834,-74.8492,-2.00,93,90,4.12,CA,1616724984

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Configure gmaps
gmaps.configure(api_key=g_key)

# Store latitude and longitude in locations
locations = city_weather[["Lat", "Lng"]]

# Fill NaN values and convert to float
humidity = city_weather["Humidity"].astype(float)

In [8]:
# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius=2)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [30]:
# A max temperature lower than 80 F/26.67 C degrees but higher than 70 F/21.11 C.
ideal_weather = city_weather.loc[city_weather["Max Temp"].between(21.11,26.67)]
# Wind speed less than 10 mph or 4.47 meter/sec.
ideal_weather = ideal_weather.loc[ideal_weather["Wind Speed"] < 4.47]
# Zero cloudiness.
ideal_weather = ideal_weather.loc[ideal_weather["Cloudiness"] == 0]
# Drop any rows that don't contain all three conditions. You want to be sure the weather is ideal.
ideal_weather.dropna()
ideal_weather

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
25,Salalah,17.0151,54.0924,23.00,64,0,1.54,OM,1616724993
39,Arraial do Cabo,-22.9661,-42.0278,25.00,88,0,2.06,BR,1616724998
126,Saint-Philippe,-21.3585,55.7679,24.00,78,0,2.57,RE,1616725034
129,Vila Velha,-20.3297,-40.2925,24.00,88,0,1.54,BR,1616724962
214,Saint-Pierre,-21.3393,55.4781,24.00,78,0,2.57,RE,1616725071
228,Oussouye,12.4850,-16.5469,21.84,72,0,3.03,SN,1616725077
235,Chirongui,-12.9319,45.1483,25.00,94,0,1.03,YT,1616725080
254,Atar,20.5169,-13.0499,25.70,10,0,4.07,MR,1616725087
347,Saint-Leu,-21.1500,55.2833,24.00,78,0,2.57,RE,1616725126
356,Mangan,27.5167,88.5333,23.28,19,0,0.50,IN,1616725130
365,Kuntaur,13.6667,-14.8833,25.96,45,0,3.92,GM,1616725134
466,Nova Viçosa,-17.8919,-39.3719,24.68,83,0,3.12,BR,1616724955
469,Benemérito de las Américas,16.5167,-90.6439,24.71,51,0,0.69,MX,1616725175
476,Dondo,-19.6094,34.7431,22.78,88,0,1.03,MZ,1616725179
509,Rāhuri,19.3833,74.6500,25.77,20,0,1.54,IN,1616725193
515,Karasburg,-28.0167,18.7500,21.16,36,0,3.97,NaN,1616725196
529,Doha,25.2867,51.5333,25.56,69,0,4.12,QA,1616725181

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [32]:
# Add columns for Hotel Name
# Note that we used "" to specify initial entry.
hotel_df = ideal_weather
hotel_df["Hotel Name"] = ""
hotel_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
25,Salalah,17.0151,54.0924,23.0,64,0,1.54,OM,1616724993,
39,Arraial do Cabo,-22.9661,-42.0278,25.0,88,0,2.06,BR,1616724998,
126,Saint-Philippe,-21.3585,55.7679,24.0,78,0,2.57,RE,1616725034,
129,Vila Velha,-20.3297,-40.2925,24.0,88,0,1.54,BR,1616724962,
214,Saint-Pierre,-21.3393,55.4781,24.0,78,0,2.57,RE,1616725071,

In [36]:
# create a params dict that will be updated with new city each iteration
params = {"key": g_key}

# Loop through and run a lat/long search for each city
for index, row in hotel_df.iterrows():
    base_url = "https://maps.googleapis.com/maps/api/geocode/json"

    city = row['City']
    country = row['Country']

    # update address key value
    params['address'] = f"{city},{country}"

    # make request
    cities_lat_lng = requests.get(base_url, params=params)
    
    # print the cities_lat_lng url, avoid doing for public github repos in order to avoid exposing key
    # print(cities_lat_lng.url)
    
    # convert to json
    cities_lat_lng = cities_lat_lng.json()

    hotel_df.loc[index, "Lat"] = cities_lat_lng["results"][0]["geometry"]["location"]["lat"]
    hotel_df.loc[index, "Lng"] = cities_lat_lng["results"][0]["geometry"]["location"]["lng"]

# params dictionary to update each iteration
params = {
    "radius": 5000,
    "types": "hotel",
    "key": g_key
}

# Use the lat/lng we recovered to identify hotels
for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Lat"]
    lng = row["Lng"]

    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"

    # Use hotel and our lat/lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # make request and print url
    name_address = requests.get(base_url, params=params)
    
#     print the name_address url, avoid doing for public github repos in order to avoid exposing key
#     print(name_address.url)

    # convert to json
    name_address = name_address.json()
    # print(json.dumps(name_address, indent=4, sort_keys=True))

    # Since some data may be missing we incorporate a try-except to skip any that are missing a data point.
    try:
        hotel_df.loc[index, "Hotel Name"] = name_address["results"][0]["name"]
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
25,Salalah,17.019384,54.110750,23.00,64,0,1.54,OM,1616724993,Salalah
39,Arraial do Cabo,-22.967337,-42.026810,25.00,88,0,2.06,BR,1616724998,Arraial do Cabo
126,Saint-Philippe,-21.358118,55.764656,24.00,78,0,2.57,RE,1616725034,Saint-Philippe
129,Vila Velha,-20.347782,-40.294953,24.00,88,0,1.54,BR,1616724962,Vila Velha
214,Saint-Pierre,-21.322291,55.502559,24.00,78,0,2.57,RE,1616725071,Le Tampon
228,Oussouye,12.488449,-16.543676,21.84,72,0,3.03,SN,1616725077,Oussouye
235,Chirongui,-12.933992,45.150620,25.00,94,0,1.03,YT,1616725080,Bandrele
254,Atar,20.507292,-13.052978,25.70,10,0,4.07,MR,1616725087,Atar
347,Saint-Leu,-21.174755,55.287865,24.00,78,0,2.57,RE,1616725126,"Saint-Leu, Réunion"
356,Mangan,27.497879,88.534778,23.28,19,0,0.50,IN,1616725130,Mangan
365,Kuntaur,13.670718,-14.889977,25.96,45,0,3.92,GM,1616725134,Kuntaur
466,Nova Viçosa,-17.881857,-39.862469,24.68,83,0,3.12,BR,1616724955,Posto da Mata
469,Benemérito de las Américas,16.514276,-90.654095,24.71,51,0,0.69,MX,1616725175,Benemérito de las Américas
476,Dondo,-19.611540,34.740929,22.78,88,0,1.03,MZ,1616725179,Dondo
509,Rāhuri,19.395099,74.652084,25.77,20,0,1.54,IN,1616725193,Rahuri
515,Karasburg,-28.021675,18.748217,21.16,36,0,3.97,NaN,1616725196,Karasburg
529,Doha,25.285447,51.531040,25.56,69,0,4.12,QA,1616725181,Doha

In [40]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [42]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)
# Display figure
fig

Figure(layout=FigureLayout(height='420px'))